:root {
--primary-color: rgb(36, 18, 36);
--primary-color-secundario: beige;
}

* {
    box-sizing: border-box;
    outline: 0;
}

body {
    margin: 0;
    padding: 0;
    background: var(--primary-color);
    font-family: 'Lora', serif;
    font-size: 1.3em;
    line-height: 1.5em;
    
}

header h1 {
    display: flex;
    justify-content: center;
    padding-top: 30px;
    font-size: 80px;
    color: var(--primary-color-secundario);
}

.container {
    max-width: 600px;
    margin: auto;
    
    justify-content: center;
    background: rgb(116, 104, 121);
    padding: 20px;
    border-radius: 10px;
}

button:hover {
    background: rgb(83, 60, 83);
    color: beige;
}


.relogio {
    font-size: 3.5em;
    display: flex;
    justify-content: space-around;
}

.pausado {
color: rgb(86, 19, 19);
}

section div{
    display: flex;
    justify-content: center;
    padding-bottom: 25px;
    transition-duration: 0.9s; 
}

#boton {
    font-family: 'Lora', serif;
    transition-duration: 0.9s;  
    
}

#boton .iniciar {
    font-size: 18px;
    border-radius: 15px;
    padding: 10px;
    font-family: 'Lora', serif;
    cursor: pointer;
    margin-right: 10px;
}

#boton .pausar {
    font-size: 18px;
    border-radius: 15px;
    padding: 10px;
    font-family: 'Lora', serif;
    cursor: pointer;
    margin-right: 10px;
}

#boton .zerar {
    font-size: 18px;
    border-radius: 15px;
    padding: 10px;
    font-family: 'Lora', serif;
    cursor: pointer;
    margin-right: 10px;
}

footer{
    display: flex;
    justify-content: end;
}

.logo-github img{
    width: 50px;
    margin-right: 150px;
    margin: 150px 50px 10px auto;
}